@using Radzen
@using Radzen.Blazor
@using Tuat.Interfaces
@using Tuat.Models
@inject Tuat.Interfaces.IDataService DataService

<div></div>

@code {
	[Parameter]
	public StepOr Model { get; set; } = null!;

	[Parameter]
	public Type? ScriptEditorType { get; set; }

	[Parameter]
	public IScriptEngine? ScriptEngine { get; set; }

	[Parameter]
	public Automation? Automation { get; set; }

}
