@using Blazor.Diagrams.Components.Renderers
@using Blazor.Diagrams.Core.Models
@using Radzen
@inject DialogService DialogService
@typeparam TStep where TStep : Step
@inherits ComponentBase

<div class="default-node @(Node.Group != null ? "grouped" : "") @(Node.Selected ? "selected" : "")" style="position: relative;">
    <strong>@(Node.Title ?? "Title")</strong>
    @foreach (var port in Node.Ports)
    {
        <PortRenderer @key="port" Port="port" Class="default"></PortRenderer>
    }
    <div style="position: absolute; right: 8px; bottom: 8px; z-index: 1;">@GetPayloadText(Blazor.Diagrams.Core.Models.PortAlignment.Right)</div>
</div>

@code {
    [Parameter]
    public StepNodeModel<TStep> Node { get; set; } = null!;

    string GetPayloadText(Blazor.Diagrams.Core.Models.PortAlignment port)
    {
        var payload = Node.Step.Payloads.FirstOrDefault(p => p.Port == port);
        if (payload == null)
        {
            return "";
        }
        else if (payload.Data == null)
        {
            return "null";
        }
        else if (payload.Data is string text)
        {
            return $"'{text}'";
        }
        else
        {
            return payload.Data.ToString() ?? "";
        }
    }
}