@using Tuat.Interfaces
@using Tuat.Models
@implements IAutomationSettings

<div>
</div>

@code {
	[Parameter]
	public Automation Model { get; set; } = null!;

	public string? GetAutomationPropertiesData()
	{
		return "";
	}
}