@using Tuat.Interfaces
@using Tuat.Models
@implements IClientSettings

<div>
</div>

@code {
    [Parameter]
    public Client Model { get; set; } = null!;

    public string? GetClientPropertiesData() => null;
}
